.pagina-tradutor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3232;
}

.caixaB {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4vh;
    border: 2px solid #ffb100;
    border-radius: 3vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
    background-color: #121212;
}

.titulo-tradutor {
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 4vh;
}

.texto-tradutor {
    text-align: center;
    margin-bottom: 5vh;
}

.tradutor {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-bottom: 2vh;
}

.caixaA {
    margin-top: 2vh;
    display: flex;
    justify-content: center;
}

.tradutor button {
    cursor: pointer;
    border: 2px solid #ffb100;
    border-radius: 15px;
    padding: 1vh;
    color: #01142e;
    margin: 2vh;
    transition: ease-in-out .5s;
}


.tradutor button:hover {
    transition: ease-in-out .5s;
    color: #ffb100;
    box-shadow: 0px 0px 6px #ffb100;
    background-color: #323232;
}

.tradutor .botao-enviar button {
    height: 50px;
    width: 150px;
}

.tradutor .botoes-api button {
    height: 50px;
    width: 150px;
}

.tradutor button:active {
    transition: .005s;
    transform: scale(0.97);
    background-color: #ffffff77;
}