footer {
    background-color: #242424;
    border-top: #ffb100 0.5px inset;
    color: #fff;
}

.footerItems{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footerItems a {
    color: #fff;
    text-decoration: none;
}

.footerItems p {
    margin-top: 3vh;
    text-align: center;
}

.texto-footer {
    width: 100vh;
}

.footerSocialImg img{
    margin-top: 1vh;
    margin-left: 30px;
    width: 2rem;
    height: 2rem;
}   

@media (max-width: 650px) {
    .texto-footer {
        width: 35vh;
    }
}