.footer {
    border-top: #ffb100 0.5px inset;
    color: #fff;
}

a {
    color: #fff;
    text-decoration: none;
}

.footerItems img {
    height: 2rem;
}

.footerSocial {
    display: flex;
    justify-content: space-evenly;
}