footer {
    background-color: #242424;
    border-top: #ffb100 0.5px inset;
    color: #fff;
}

a {
    color: #fff;
    text-decoration: none;
}

.footerItems img {
    width: 2rem;
    height: 2rem;
}

.footerSocial {
    margin-top: 1.5vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footerSocialImg img{
    margin-left: 30px;
}   