.hotProds {
    margin-top: 4vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 8vh;
}

.container-categorias { 
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 2vh;
}

.container-categorias h3{ 
    display: flex;
    align-items: center;
    color: #ffb100;
}

.categoria {
    margin-top: 8vh;
    padding: 1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.produtos-categoria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.produto {
    border: 0.2vh 0 0.2vh 0 solid #ddd;
    width: 40%;
    text-align: center;
}

.produto img {
    border: 1vh solid #01142e;
    margin-bottom: 2vh;
    max-width: 70%;
    height: auto;
}