.produtos {
    height: 1050vh;
    background-color: #121212;
}

.hotProds {
    margin-top: 4vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 8vh;
}

.container-categorias { 
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 2vh;
}

.container-categorias h3{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffb100;
}

.categoria {
    margin-top: 8vh;
    padding: 1vh;
}

.produto {
    border: 0.2vh solid #ddd;
    background-color: #fff;
    text-align: center;
    padding: 1vh;
}

.produto img {
    border: 1vh solid #01142e;
    margin-bottom: 2vh;
    max-width: 40%;
    height: auto;
}