.pagina-quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seila23 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.meio1 {
    background-color: #242424;
    margin-top: 5vh;
    display: flex;
    justify-content: center;
}

.texto1 {
    width: 70%;
    text-align: center;
    margin-top: 0.5vh;
    margin-bottom: -1.5vh;
}

.texto1 p {
    font-size: 1.1rem;
}

.meio2 {
    display: flex;
    align-items: center;
    margin: 8vh;
}

.meio2 button {
    height: 50px;
    width: 150px;
    color: #01142e;
    border-radius: 15px;
    border: 2px solid #ffb100;
    transition: ease-in-out .5s;
}

.texto2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #121212;
    padding: 2vh;
    width: 100vh;
    border-radius: 15px;
    border: 2px solid #ffb100;
}

.titulo-quiz {
    text-align: center;
    margin-top: 6vh;
}

.quiz {
    background-color: #121212;
    border: 2px solid #ffb100;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10vh;
}

.quiz h1 {
    margin-top: 4vh;
}

.texto-quiz {
    margin-top: 3vh;
    margin-bottom: -1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100vh;
}

.opcoes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    width: 50vh;
    padding: 15px;
}

.opcoes button {
    height: 50px;
    width: 150px;
    color: #01142e;
    border-radius: 15px;
    border: 2px solid #ffb100;
    transition: ease-in-out .5s;
}


.opcao-envio {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.opcao-envio>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3vh;
    
}

.opcao-envio button {
    height: 50px;
    width: 150px;
    color: #01142e;
    border-radius: 15px;
    border: 2px solid #ffb100;
    transition: ease-in-out .5s;
}

.opcoes button:hover {
    transition: ease-in-out .5s;
    background-color: #323232;
    color: #fff;
    box-shadow: 0px 0px 8px #ffb100;
}

.opcao-envio button:hover {
    transition: ease-in-out .5s;
    background-color: #323232;
    color: #fff;
    box-shadow: 0px 0px 8px #ffb100;

}

.meio2 button:hover {
    transition: ease-in-out .5s;
    background-color: #323232;
    color: #fff;
    box-shadow: 0px 0px 8px #ffb100;
}
.meio2 button:active {
    transition: .5s;
    transform: scale(0.98);
}

.opcao-envio button:active {
    transition: .5s;
    transform: scale(0.98);
}

.opcoes button:active {
    transition: .5s;
    transform: scale(0.98);
}


/* Responsividade */

@media (max-width: 700px) {
    .texto2 {
        width: 80vh;
    }

    .quiz {
        width: 80vh;
    }

    .quiz .texto-quiz {
        width: 80vh;
    }
}

@media (max-width: 550px) {
    .texto2 {
        width: 60vh;
    }

    .quiz {
        width: 60vh;
    }

    .quiz .texto-quiz {
        width: 60vh;
    }
}

@media (max-width: 405px) {
    .texto2 {
        width: 40vh;
    }

    .quiz {
        width: 40vh;
    }

    .quiz .texto-quiz {
        width: 40vh;
    }

    .quiz .opcoes  {
        width: 40vh;
    }
}